apiVersion: v1
kind: Service
metadata:
  labels:
    app: demo
  name: demo
spec:
  type: NodePort
  selector:
    app: demo
  ports:
    - name: http
      port: 9090
      protocol: TCP
      targetPort: 9090

    

